@{
    ViewData["Title"] = "Index";
}

<table>

    <thead style="background-color: gray; height:100px;">

    </thead>


    <tfoot style="background-color:gray; height:50px;">
    </tfoot>

</table>
