
@{
    ViewData["Title"] = "Welcome";
    Layout = null;
}

<table>
    <tr style="height:100px; background-color:black; position:absolute; text-align:center; left:0; right:0; width:100%;">
        <td>
            <h3 style="color:white; font-size:50px;">Welcome</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h1 style="margin-top:150px;">@ViewData["Name"]</h1>
        </td>
    </tr>

</table>
